$accent-main-color: #01457f;
$accent-color: #5892fc;

$font-dark-color: #363636;
$font-light-color: #ffffff;
$font-errors-color: #ff0000;

$bg-main-color: #ffffff;
$bg-input-color: #e2e2e2;

$bg-border-light-color: #e2e2e2;
$bg-border-dark-color: #01457f;
